

.side-bar{


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


.nav-item:first-child{
color:brown}


.nav-item:second-child{
color:blue;
}


.nav-item:third-child{
color:green;




}


.li:after{
    content:"😂"
}


